.welcome {
  color: #31356e;
  margin-left: 5vh;
  margin-bottom: 5vh;
}

.pillar {
  margin: 2vh;
  margin-top: 8vh;
  ;
}

/* this is for the circle slider */

.App1 {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.textContainer {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  line-height: 70px;
  text-align: center;
  color: #05157a;
}

.textContainer .minute {
  font-size: 18px;
  line-height: 15px;
  background: -webkit-linear-gradient(#e000ec, #1f5281);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .icon {
    width: 30px; 
    height: 30px; 
  } */

.score {
  width: 30px;
  height: 30px;
}



.progress-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  /* Adjust the margin as needed */
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

}

.icon {
  width: 30px;
  height: 30px;
}

.progress-bar {
  flex-grow: 1;
}

    font-family: sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .textContainer {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    line-height: 70px;
    text-align: center;
    color: #05157a;
  }
  
  .textContainer .minute {
    font-size: 18px;
    line-height: 15px;
    background: -webkit-linear-gradient(#e000ec, #1f5281);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
